* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: #ff4705;
  color: #615551;
}

.container {
  background-color: #ffffff;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: 5rem minmax(30rem, auto);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f9f5f3;
  border-radius: 2rem 2rem 0 0;
}

.header__logo {
  max-height: 2.5rem;
  margin-left: 2rem;
}

.search {
  background-color: #fff;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 0.9rem;
  width: 15rem;
}

i {
  color: #ff4705;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.search__btn {
  font-weight: 600;
  font-family: inherit;
  background-image: linear-gradient(to right bottom, #ff4705, #db6e09);
  padding: 1rem 2rem;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.search__btn i {
  color: #fff;
  font-size: inherit;
}

.nav {
  align-self: stretch;
  margin-right: 2.5rem;
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
}

.nav__item {
  position: relative;
}

.nav__btn {
  height: 100%;
  font-family: inherit;
  color: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  transition: all 0.3s;

  display: flex;
  align-items: center;
}

.nav__item .nav_fa {
  color: #db6e09;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.bookmarks {
  padding: 1rem 1rem;
  position: absolute;
  right: -1.5rem;
  z-index: 10;
  width: 20rem;
  background-color: #f9f5f3;
  box-shadow: 0 0.4rem 3rem 1rem rgba(lightgray, 0.1);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}

.bookmarks:hover,
.nav__btn--bookmarks:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}

.search-results {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.workout {
  background-color: #f9f5f3;
}

.workout p {
  padding: 8rem 15rem 0 15rem;
}
