* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: #ff4705;
  color: #615551;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  background-color: #ffffff;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: 5rem minmax(30rem, auto);
  min-height: 80vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f9f5f3;
  border-radius: 2rem 2rem 0 0;
}

.header__logo {
  max-height: 2.5rem;
  margin-left: 2rem;
}

.search {
  background-color: #fff;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 0.9rem;
  width: 15rem;
}

i {
  color: #ff4705;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.search__btn {
  font-weight: 600;
  font-family: inherit;
  background-image: linear-gradient(to right bottom, #ff4705, #db6e09);
  padding: 1rem 2rem;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.search__btn i {
  color: #fff;
  font-size: inherit;
}

.btn--bookmark {
  font-weight: 500;
  padding: 1rem 1rem;
  margin-top: 2.5rem;
}

.search__btn i {
  color: #fff;
  font-size: inherit;
}

.nav {
  align-self: stretch;
  margin-right: 2.5rem;
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
}

.nav__item {
  position: relative;
}

.nav__btn {
  height: 100%;
  font-family: inherit;
  color: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  transition: all 0.3s;

  display: flex;
  align-items: center;
}

.nav__item .nav_fa {
  color: #db6e09;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.bookmarks {
  padding: 1rem 1rem;
  position: absolute;
  right: -1.5rem;
  z-index: 10;
  width: 20rem;
  background-color: #f9f5f3;
  box-shadow: 0 0.4rem 3rem 1rem rgba(lightgray, 0.1);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}

.bookmarks:hover,
.nav__btn--bookmarks:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}

.search-results {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.results {
  min-height: 18rem;
}

.workout {
  background-color: #f9f5f3;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  font-weight: 600;
}

.workout__details {
  margin-top: 10%;
}

.workout img {
  height: 60vh;
}

.workout figure {
  text-align: center;
  margin-bottom: 1rem;
}

.workout__info {
  line-height: 1.8rem;
  text-align: center;
}

.workout__info-buttons i {
  text-align: center;
  width: 80%;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
}
.workout p {
  padding: 3rem 15rem 0 15rem;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

/*  Animation for the spinner - Loading */
.spinner i {
  font-size: 2.5rem;
  fill: #db6e09;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Message error :  */
.message,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.error i {
  height: 2rem;
  width: 2rem;
  fill: #db6e09;
}

.error p {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 500;
}

.preview__link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.2rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}
.preview:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px);
}

.preview__link--active {
  background-color: #f2f2f2;
}

.preview__fig {
  flex: 0 0 5rem;
  border-radius: 50%;
  overflow: hidden;
  height: 5rem;
  margin-right: 1rem;
  position: relative;
  backface-visibility: hidden;
}

.preview__fig::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #fff, #f2f2f2);
  opacity: 0.2;
}

.preview img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.preview__data {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1rem;
  row-gap: 0.05rem;
  align-items: center;
}

.preview__title {
  grid-column: 1/-1;
  font-size: 1rem;
  color: #db6e09;
  text-transform: uppercase;
  font-weight: 600;

  /* // This is how text is truncated! */
  text-overflow: ellipsis;
  max-width: 17rem;
  white-space: nowrap;
  overflow: hidden;
}

.preview__publisher {
  font-size: 0.7rem;
  color: #797575;
  text-transform: uppercase;
  font-weight: 600;
  /* // This is how text is truncated! */
  text-overflow: ellipsis;
  max-width: 17rem;
  white-space: nowrap;
  overflow: hidden;
}

.preview__user-generated {
  background-color: darken(#f2f2f2, 2%);

  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 8rem;

  margin-left: auto;
  margin-right: 1.25rem;
}

/* Copyright & Pagination */

.pagination {
  margin-top: auto;
  padding: 0 2rem;
}

.pagination::after {
  content: '';
  display: table;
  clear: both;
}

.pagination__btn--prev {
  float: left;
}

.pagination__btn--next {
  float: right;
}

.copyright {
  color: #797575;
  font-size: 0.9rem;
  padding: 0 2.5rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.linkedin-link:link,
.linkedin-link:visited {
  color: #615551;
}

/* Pagination buttons */
.btn--inline {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  background-color: #ff4705;
  margin-top: 0.5rem;
  padding: 0.7rem 1.2rem;
  border-radius: 8rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.btn--inline i {
  height: 1.2rem;
  width: 1.2rem;
  color: #fff;
  margin: 0 0.2rem;
}

.btn--inline span {
  margin: 0 0.4rem;
}

.btn--tiny {
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  border-style: none;
}

.btn--tiny i {
  margin-left: 3px;
}
